@charset "utf-8";
/* CSS Document */

body { 
width: 100%;
height: 100%;
margin: 0px;
}

::-webkit-scrollbar{
width: 14px;
height: 14px;
}
::-webkit-scrollbar-track{
background-color: #888;

}

::-webkit-scrollbar-button{
height: 0px;
}

::-webkit-scrollbar-thumb{
background-color: rgba(28,149,247,1.00);
border-radius:20px;
}

::webkit-scrollbar-thumb:hover{
background-color:#ccc;
}

.menu-principal {
width: 100%;
height:60px;
background-color: #151515;
position: relative;
}

.logo { 
image-resolution: snap;
margin-left: 25%;
position: relative;
	
}

.redes-sociais{

float: right;
margin-right:30%;
postion: relative;

}


.menu-2{
margin-left:24%;
}
.home{
font-family: calibri light;
font-size: 20px;
color: rgba(111,111,111,1.00);
}

.home:hover{
color: rgba(0,155,220,1.00);
text-decoration: underline;


}

.About-Us{
font-family: calibri light;
font-size: 20px;
color: rgba(111,111,111,1.00);
}

.About-Us:hover{
color: rgba(0,155,220,1.00);
text-decoration: underline;
}

.Service{
font-family: calibri light;
font-size: 20px;
color: rgba(111,111,111,1.00);
}

.Service:hover{
color: rgba(0,155,220,1.00);
text-decoration: underline;
}

		
