@charset "utf-8";
/* CSS Document */




.cardnews {
padding: 15px;
border-radius: 5px;
border: 0px;
margin: 5px;
width: 400px;
height: 300px;
background-color: rgba(21,21,21,1.00);
color:aliceblue;
font-size: 25px;
font-family:calibri;
overflow:hidden;

}
	


.cardnews:hover{

background-color:rgba(0,0,0,1.00);
opacity: 80%;
transition: .5s;
}


a:link {
   color: white;
	text-decoration: none;
}

a:visited {
    color: white;
		text-decoration: none;

}

a:hover {
    color: #1595F7;
		text-decoration: none;

}

a:active {
    color: white;
		text-decoration: none;

}

.kingcardnews {
padding: 15px;
border-radius: 5px;
border: 0px;
margin: 5px;
width: 400px;
height: 300px;
background-color: rgba(28,149,247,1.00);
color:aliceblue;
float: left;
max-height: 800px;
font-family: calibri;
font-size: 25px;
border-image: 30px;
margin-left: 1%;

}




