@charset "utf-8";
/* CSS Document */
.outros{
	
font-family: calibri;
font-size: 30px;
color:#1C95F7;
}

.textpage{

margin-top:5%;
margin-right: 20%;
margin-left: 20%;
justify-content: center;
font-size:20px;
font-family: calibri light;
border: 3px;
width: 50%;
overflow: hidden;

}


.texthisto{
font-size:12px;
font-family: calibri;

}

.newstitle{
	
top:150px;
margin: 15%;
justify-content: center;
color: white;
font-family: calibri;
font-size:320%;
font-weight: bold;
position: absolute;
}

.newssubtext {
font-size:15px;
margin-top: 25px;
justify-content: center;
font-family: calibri light;
font-weight: bold;
color:#707070;
white-space: pre-wrap;
}


.username{ 
float: left;
margin-left: 20%;
margin-top:5px;
max-height: 64;
max-width: 64;
font-family: Calibri light;
font-size: 20px;
font-weight: bold;
}



	
